body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0d8;
    margin: 0;
}

.container {
    background-color: rgba(255, 250, 240, 0.769);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.612);
    text-align: center;
    width: 300px; /* Define a largura fixa da div */
    box-sizing: border-box;
}

body.dark-mode {
    background-color: #121212; /* Cor de fundo para o modo noturno */
}

body.dark-mode .container {
    background-color: #333; /* Cor de fundo da container no modo noturno */
    color: #fff; /* Cor do texto no modo noturno */
}

.logo {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    margin-bottom: 5px; /* Espaço entre a imagem e o título */
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode button {
    background-color: #444; /* Cor de fundo dos elementos no modo noturno */
    color: #fff; /* Cor do texto dos elementos no modo noturno */
    border: 1px solid #555; /* Cor da borda dos elementos no modo noturno */
}

button {
    background-color: #1079e8cf;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #162331;
}

#toggleMode {
    margin-bottom: 20px; /* Espaço entre o botão e a imagem */
    background-color: #555; /* Cor de fundo do botão de modo noturno */
    color: #fff; /* Cor do texto do botão de modo noturno */
}

#outputValue {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
