body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0d8;
    margin: 0;
}

.container {
    background-color: rgba(255, 250, 240, 0.769);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.612);
    text-align: center;
    width: 300px;
    box-sizing: border-box;
}

body.dark-mode {
    background-color: #121212;
}

body.dark-mode .container {
    background-color: #333;
    color: #fff;
}

.logo {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode button {
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
}

button {
    background-color: #1079e8cf;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #162331;
}

#toggleMode {
    margin-bottom: 20px;
    background-color: #555;
    color: #fff;
}

button:hover {
    background-color: #444;
}

#outputValue {
    margin-top: 20px;
    font-size: 20px; /* Aumenta o tamanho da fonte do resultado */
    font-weight: bold;
}

.error-message {
    color: red; /* Cor das mensagens de erro */
    font-size: 14px; /* Tamanho da fonte das mensagens de erro */
    margin-top: -10px; /* Ajuste de margem para alinhar melhor */
    margin-bottom: 10px; /* Espaço entre a mensagem de erro e os próximos elementos */
}